.grid {
    margin: 50px 0 0;
  }

  .my-custom-button {
    background-color: #e1c3f3; 
    color: rgb(54, 50, 50); 
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 36px;
    border: none;
    font-weight: bold;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); /* Shadow for top */
    transition: transform 0.2s ease-in-out;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .my-custom-button:hover {
    background-color: #ab74c1; /* Darker blue on hover */
  }

  .refresh-button {
    background-color: #ffffff; 
    margin-top: 30px;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Shadow for top */
    border-radius: 100%;
    cursor: pointer;
  }
  /* .refresh-button {
    width: 30px; 
    height: 30px;
    padding: 0; 
    background: none;
    border: none; 
    cursor: pointer;
  } */
  a {
    text-decoration: none;
  }
  
  .tiny-image {
    width: 43px; 
    height: 43px;
    margin-bottom: -10px;
    margin-left: 25px;
  }

    
  .tiny-image:hover {
    border-radius: 100%;
    box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.2);
  }

  .refresh-button:hover {
    background-color: #edeaee; /* Darker blue on hover */
  }
  